#!/usr/bin/env bash

DEST_DIR="{{ .chezmoi.destDir }}"

[[ -f "$DEST_DIR/.local/lib/chezmoi-utils.sh" ]] && . "$DEST_DIR/.local/lib/chezmoi-utils.sh"


info "Installing NPM modules"

# Node
run npm i -g localtunnel
run npm i -g firebase-tools


info "Installing python2 for some cases using pyenv"

# Instatalling python2 with pyenv
run pyenv install pypy2.7-7.3.6


info "Configuring iterm2 aliases and shell integration"
run curl -L https://iterm2.com/shell_integration/install_shell_integration_and_utilities.sh | bash

info "Upgrade Mac App Store apps"
run mas upgrade

info "Final cleanup of brew"
run brew cleanup && rm -rf $(brew --cache)

info "Additional setup completed"